.title {
  font-family: var(--font-family-poppins);
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--text-primary);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }
}