/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
    
    /* Cores - Light */
    --primary-brand: #2B7ADF;
    --hover-blue: #1D4ED8; 
    --background-primary: #F6F6F6; 
    --text-primary: #1E2124; 
    --text-secondary: #475569;

    /* Tipografia */
    --font-family-base: 'Inter', sans-serif;
    --font-size-base: 1rem;

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: 1.5;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





